AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_GENERATION_API=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=

FASTAPI_BASE_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=
S3_BUCKET_NAME=
S3_PREFIX=
S3_PDF_FILE_NAME=
PDF_SOURCE_DIR=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
